@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

:root {
    --main-white: #F1F1F1;
    --main-orange: #FF4C0D;
    --main-black: #151515;
    --bg-color: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-white);
    font-family: "Ysabeau Infant", sans-serif;
}


button {
    color: var(--main-black);
    outline: none;
    cursor: pointer;
}

html {
    background-color: var(--main-black);
}

body {
    height: 100vh;
}

.container {
    max-width: 1190px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.all-btn {
    background: var(--main-white);
    border-radius: 65px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 800;
    border: 0;
    text-transform: capitalize;
    transition: .3s;

    &:hover, &:active {
        background-color: var(--main-orange);
    }
}